wget
TgCrypto2
tgcrypto-pyrofork
uvloop
tornado
aiosignal
git+https://github.com/naya1503/hydrogram@dev
git+https://github.com/FerlyKurniawan/pyrogram@master
pyromod==1.1.0
pytz
croniter
python-dotenv
fastapi
pyrogram-navy
uvicorn
httpx[http2]==0.23.3
aiofiles
aiohttp
requests
aiorun
gunicorn==20.1.0
flask